p {
  font-family: Calibri;
  font-size: 14px;
  color: gray;
}

h3 {
  font-family: Arial;
  color: firebrick;
}

ol {
  font-family: Arial;
  font-size: 14px;
  color: gray;
}

.title {
  color: teal;
 }
