body {
  background: #141E30;
}

h1{
  font-family: Calibri;
  font-weight: bold;
  color: #FFFFFF;
  font-align: center;
  }


h3 {
  color: #037818;
}

p {
  color: gray;
}

ol {
  color: gray;
}

.content {
  font-family: Microsoft JhengHei;  
  font-size: 16px;
 }

.recruitme {
  font-weight: bold;
  font-size: 18px;
  color: #FD6D03;
  }
  
