body {
  background: #141E30;
}

#banner {
  background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
  background-size: cover;
  background-position: bottom center;
  width: 100%;
}

h1{
  font-family: Calibri;
  font-weight: bold;
  color: #FFFFFF;
  font-align: center;
  }


h3 {
  color: #037818;
}

p {
  color: gray;
}

ol {
  color: gray;
}

.content {
  font-family: Microsoft JhengHei;  
  font-size: 16px;
 }

.recruitme {
  font-weight: bold;
  font-size: 18px;
  color: #FD6D03;
  }
  
